.gradient{
    background: linear-gradient(rgba(237, 20, 0, 0.621) 0%, rgba(0,212,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 90vh;
}

#home-event {
    background-image: url('../img/BG-EVENT.png');
    background-size: cover;
    background-position-y: -15rem;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#home-event a {
    z-index: 100000;
    padding: 1.2rem 0rem;
    width: auto;
}

#home-event a img {
    width: 150px;
}

.title-event {
    color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100000;
}

.title-event h1 {
    font-weight: 700;
    font-size: 100px;
}

.title-event h2 {
    letter-spacing: .5px;
    font-size: 20px;
}

.content-card{
    font-family: Open Sans;
    margin-top: 10rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10000;
}

.box-card{
    background-color: var(--black);
    position: relative;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 220px;
    transition: .5s ease;
}

.box-card:hover{
    cursor: pointer;
    bottom: 10px
}

.card{
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
   
}

.photo{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease;
}

.photo img{
    min-width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    transition: .5s ease;
}

.photo img:hover{
    height: 160px;
    object-position: bottom;
    transform: scale(1.05);
}

.photo:hover{
    height: 160px;

}

.title-card{
    width: 100%;
    position: relative;
    bottom: 50px;
}

.card h1{
    width: fit-content;
    background-color: #0000001e;
    backdrop-filter: blur(5px);
    text-align: start;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.info-box{
    position: relative;
    bottom: 1.5rem;
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.icon{
    color: var(--orange);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
}

.icon img{
    width: 20px;
}

.info-box .modal-title{
    background-color: var(--orange);
    position: relative;
    left: 0;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 5px; 
}

#events{
    font-family: Open Sans;
    background-color: var(--white);
    background-image: url('../img/SKETCH.png');
    background-size: 1500px;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.find-event{
    background-color: #FFE25E;
    width: 70vw;
    padding: 2rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.find-event h1{
    font-weight: 600;
    color: var(--black);
    font-size: 50px;
}

.filter{
    color: #4d4d4d;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    width: 96%;
}

select, option{
    color: #FFE25E;
    background-color: var(--orange);
    font-size: 15px;
    font-family: Open Sans;
    padding: .5rem 1rem;
    border-radius: 500px;
    border: 0;
    outline: 0;
}

select:focus{
    background-color: var(--orange);
}

.events-list{
    width: 70vw;
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event{
    width: 75vw;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    animation: reveal .5s ease;
    transition: .2s ease;
}

@keyframes reveal{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
}

.no-found{
    font-size: 1.5rem;
    font-weight: 500;
}

.date_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 400px;
    overflow: hidden;
}

.date_img img{
    width: 400px;
    height: 240px;
    object-fit: cover;

    transition: .5s ease;
}

#hw-img{
    object-position: 0 -240px;
}

.img:hover img{
    transform: scale(1.1) rotate(-2deg);
}

.date{
    position: relative;
    left: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Oswald;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 2rem 1.5rem;
    z-index: 1;
}

.date h1{
    font-size: 50px;
}

.date h2{
    font-size: 30px
}

.info-event{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .6rem;
}

.info-event .modal-text{
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 20px;
    color: #736C4A;
}

.info-event h1{
    width: 600px;
    font-size: 50px;
    font-weight: 700;
}

.info-event h2{
    color: rgb(50, 50, 50);
    font-size: 25px;
    font-weight: 500;
}


.info-event .pais{
    color: var(--black);
    position: relative;
    right: 1.2rem;
    width: 180px;
}

.info-event .info{
    width: 40%;
    margin-top: 1rem;
}

.info-event .icon{
    width: 20%;
}