body{
    background-image: url('../img/BG_LOGIN.png');
    background-size: cover;
    overflow: hidden;
}

.content-logo{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-logo img{
    width: 200px;
}

#diamond1{
    position: relative;
    top: 200px;
    left:50px;
    animation: move 3s infinite ease-in-out;
}

#diamond2{
    width: 100px;
    position: relative;
    top: 0px;
    left:750px;
    animation: move2 5s infinite ease;
}

@keyframes move{
    0%{
        top: 0px;
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(5deg);

    }
    75%{
        top: -20px;
        transform: rotate(4deg);
    }
    100%{
        top: 0px;
        transform: rotate(10deg);
    }
}

@keyframes move2{
    0%{
        top: -300px;
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-5deg);

    }
    75%{
        top: -280px;
        transform: rotate(4deg);
    }
    100%{
        top: -300px;
        transform: rotate(10deg);
    }
}

